<div>
  <button class="btn-register" (click)="login()">Log in</button>
</div>

<br><br>

<div class="home">
  <button type="button" (click)="goBack()"> back </button>
  <br>

  <h1>Bonjour</h1>
  <div class="disposition-album">
    <button class="btn-album">0</button>
    <button class="btn-album">1</button>
    <button class="btn-album">2</button>
    <br>
    <button class="btn-album">3</button>
    <button class="btn-album">4</button>
    <button class="btn-album">5</button>
  </div>
  <br>
  <h1>Vos émissions</h1>
  <div class="disposition-podcast">
    <button class="btn-podcast">1</button>
    <button class="btn-podcast">2</button>
    <button class="btn-podcast">3</button>
    <button class="btn-podcast">4</button>
    <button class="btn-podcast">5</button>
    <button class="btn-podcast">6</button>
  </div>
</div>



<app-artist-list></app-artist-list>




<router-outlet></router-outlet>
