<br><br>
<div class="navbar">
  <div class="textnavbar">
    <p class="tpp">...</p>
    <br><br>
    <img src="./assets/icones/home.png" alt="icone home"> <button class="btn-banner" routerLink="home">Accueil</button>
    <br><br>
    <img src="./assets/icones/search.png" alt="icone search"> <button class="btn-banner" routerLink="search">Rechercher</button>
    <br><br>
    <img src="./assets/icones/library.svg" alt="icone library"> <button class="btn-banner" routerLink="biblio">Bibliothèque</button>
    <br><br>
    <img src="./assets/icones/create.png" alt="icone create"> <button class="btn-banner" routerLink="create">Créer une playlist</button>
    <br><br>
    <img src="./assets/icones/like.png" alt="icone like"> <button class="btn-banner" routerLink="like">Titres likés</button>
    <br><br>
    <hr>
  </div>
</div>

<br><br><br>

<div class="home">
  <h1>Bonjour</h1>

  <div class="disposition-album">
    <button class="btn-album">0</button>
    <button class="btn-album">1</button>
    <button class="btn-album">2</button>
    <br>
    <button class="btn-album">3</button>
    <button class="btn-album">4</button>
    <button class="btn-album">5</button>
  </div>

  <br>

  <h1>Vos émissions</h1>
  <div class="disposition-podcast">
    <button class="btn-podcast">1</button>
    <button class="btn-podcast">2</button>
    <button class="btn-podcast">3</button>
    <button class="btn-podcast">4</button>
    <button class="btn-podcast">5</button>
    <button class="btn-podcast">6</button>
  </div>
</div>

