<div class="navbar">
  <div class="textnavbar">
    <p class="tpp">...</p>
    <br><br>
    <img src="./assets/icones/home.png" alt="icone home"> <button class="btn-banner" routerLink="./">Accueil</button>
    <br><br>
    <img src="./assets/icones/search.png" alt="icone search"> <button class="btn-banner" routerLink="./search">Rechercher</button>
    <br><br>
    <img src="./assets/icones/library.svg" alt="icone library"> <button class="btn-banner" routerLink="./biblio">Bibliothèque</button>
    <br><br>
    <img src="./assets/icones/create.png" alt="icone create"> <button class="btn-banner" routerLink="./playlist/create">Créer une playlist</button>
    <br><br>
    <img src="./assets/icones/like.png" alt="icone like"> <button class="btn-banner" routerLink="./like">Titres likés</button>
    <br><br>
    <hr>
  </div>
</div>
